<div class="panel-body">
	<div class="form-group nested-fields">
		
	  <div class="input-bar">
			<div class="input-bar-item">
	    		<%= f.input :whatsapp, as: :boolean, boolean_style: :inline %> Whatsapp
	    	</div>
	    	<div class="input-bar-item">
	    		<%= f.text_field :numero, class: 'form-control telefones', placeholder: 'Digite o Telefone aqui...'  %>
			</div>
	    	<div class="input-bar-item">
	    		<%= link_to_remove_association "remove", f, class: 'btn btn-danger btn-remove-contact' %>	
	    	</div>	
	    </div>	
	</div>
</div>


<script>
	$(function() {
  		$('.input-bar-item').on('keydown', '#cliente_enderecos_attributes_0_numero', function(e){-1!==$.inArray(e.keyCode,[46,8,9,27,13,110,190])||/65|67|86|88/.test(e.keyCode)&&(!0===e.ctrlKey||!0===e.metaKey)||35<=e.keyCode&&40>=e.keyCode||(e.shiftKey||48>e.keyCode||57<e.keyCode)&&(96>e.keyCode||105<e.keyCode)&&e.preventDefault()});
})
</script>