<div class="jumbotron">
	<h4 class='text-center'>Cadastro de novo Cliente</h4>
</div>	
<%= link_to 'Voltar', clientes_path, class: 'btn btn-default btn-new-cliente-voltar' %>
<%= render 'form', cliente: @cliente %>
<!--<div id="segmento-modal" class="modal fade"></div>-->


