	<%= search_form_for(@q, url: '/search', :method => :post, remote: true, class: 'form-inline') do |f| %>	  
	  <div id='search-form'>			
		  <%= f.search_field :razao_social_cont, class: 'form-control', placeholder: 'O que procura? ' %>		
		  
		  <%= f.submit 'search', class: 'btn btn-default btn-search material-icons' %>
		  
	  </div>
	<% end %>