<div id='container-search'>
	<div id='index-cliente-btn'>
		<%= render 'search.html' %>
	</div>
	
</div>

<!-- masonry -->	
<div id="index-clientes" class='container-fluid'>			
	<%= render 'index.html' %>	
</div>
		