
  <div class="field">
    
    <%= f.text_field :end, class: 'form-control', placeholder: 'digite o endereço aqui...' %>
  </div>

  <div class="field">
    
    <%= f.text_field :numero, class: 'form-control', placeholder: 'digite o numero aqui...', :maxlength => 4,  as: :number %>
  </div>

  <div class="field">
    
    <%= f.text_field :complemento, class: 'form-control', placeholder: 'digite o complemento aqui...' %>
  </div>
