/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap-datepicker
 *= require_self
 *= require_tree .
*/


@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);

label {
	font-size: 1.2rem !important;
}

textarea {
	resize: none;
}
.collection_check_boxes, .label-checkbox {
	padding: 5px;	
	display: inline;	
}

.modal-header .close {
	margin-top: -22px !important;
}



input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
	position: relative !important;
	left: 18px !important;
	z-index: 9999;
	top: -3px !important;
	/*opacity: 1 !important;*/
}

[type="checkbox"]:checked+label:before {
	top: 0 !important;
}

.pagination {
	margin: 20px auto !important;
	width: 100% !important;
}

.breadcrumb>li {
	color: #666 !important;
}

.btn-group-xs>.btn, .btn-xs {
	padding: 6px 12px !important;
}

.btn-small {
    height: 24px !importante;
    line-height: 24px !importante;
    padding: 0 0.5rem !importante;
}