// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .index-grid {
/*
   Spezific styling for salvattore
   Feel free to edit it as you like
   More info at http://salvattore.com
 */

/* Base styles */

body {
    background: #e9ebee;
    height: 10000px;
    
}

// a:link, a:hover, a:visited {
//     border: none !important;
// }

#index-cliente-btn {
    position: relative;
    z-index: 99;
    top: 300px;
}
#index-clientes {
    top: 60px;
    position: relative;
}

.column {
    float: left;
    margin: 10px;
    margin-bottom: 20px;
}
.size-1of5 {
    width: 18%;
}
.size-1of4 {
    width: 22%;
}
.size-1of3 {
    width: 29.333%;
}
.size-1of2 {
    width: 44%;
}

#search-form{ 
    opacity: 1;

}

.item {        

    border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 1em;
	background-color: #fff;
	
   
    &:hover {
        -webkit-box-shadow: 0px 3px 5px 0px rgba(156,150,156,1);
        -moz-box-shadow: 0px 3px 5px 0px rgba(156,150,156,1);
        box-shadow: 0px 3px 5px 0px rgba(156,150,156,1);
    }
	h3 {
 		text-align: center;
 		font-size: 1.2rem;
 		font-weight: bold;

 	}
 	i {
		
 		font-weight: normal;
 		font-size: 1rem;
 		margin-right: 5px;
 	}
}

.btn-topo {    
    
    position:fixed;
    top:85vh;
    right:40px;
    background-color: rgba(40, 40, 40, .5);
    border-radius: 10px;
    width: 50px;
    height: 50px;
    z-index: 999;
    &:before {        
        font-size: 3rem;
        color: #fff;
        top: 7px;
        left:10px;        
        position: relative;
    }
    &:hover, &:visited, &:active, &:hover, &:focus {
        text-decoration: none;  
    }
    &:hover {
        background-color: rgba(40, 40, 40, 1);
    }

}




#container-search {
   padding: 40px;
   background-image: url('http://res.cloudinary.com/dgql7hcka/image/upload/v1501018491/Revista Festa Ja/topo.jpg');
   width: 100%;
   height: 359px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: container;

}

@media only screen and (max-width: 399px) {
    
    .btn-search, #q_razao_social_cont{
        width: 69vw;
    }
    #timeline[data-columns]::before {
        content: '1 .column.size-1of1';
    }

    #container-search {        
        position: relative;
        margin: 0 auto;
        background-size: 200% 65%;
        height: 300px;
        background-position: center;
        top: -53px;
    }

    #index-clientes {
        width: 90% !important;   
        margin: 0 auto;  
        top: -30px !important;   
    }
    
    #index-cliente-btn {
        width: 100% !important;
        margin: 0 auto;
        top: 200px;
    }
 
}

 

@media only screen and (min-width: 400px) {
        
    // .btn-search {
    //     width: 21vw;
    // }
    // #q_razao_social_cont {
    //     display: inline;
    //     width: 59vw;
    // }
    #timeline[data-columns]::before {
        content: '2 .column.size-1of2';
    }
    #container-search {        
        position: relative;
        margin: 0 auto;
        background-size: cover;
        height: 300px;
        background-position: center;        
    }
    #index-cliente-btn {
        top: 220px;
    }
    #index-clientes {
        top: 0 
    }
    
}

@media (min-width: 400px) and (max-width: 415px) {
    #q_razao_social_cont {
        display: inline;
        width: 53vw;
    }
    .btn-search {
        width: 21vw;
    }

}

@media only screen and (min-width: 416px) {
    #q_razao_social_cont {
        display: inline;
        width: 58vw;
    }
}

@media only screen and (min-width: 500px) {
    #q_razao_social_cont {
        display: inline;
        width: 63vw;
    }
}

@media (min-width: 500px) and (max-width: 521px) {
    #q_razao_social_cont {
        display: inline;
        width: 62vw;
    }
}

@media only screen and (min-width: 700px) {
    
    .btn-search {
    width: 16vw;
    }
    #q_razao_social_cont {
        display: inline;
        width: 70vw;
    }
    #timeline[data-columns]::before {
        content: '3 .column.size-1of3';
    }
    #index-cliente-btn {
        top: 250px;
    }
    #index-clientes {
        top: 30px; 
    }
}

@media only screen and (min-width: 900px) {
     
    .btn-search {
    width: 10vw;
    }
    #q_razao_social_cont {
        width: 78vw;
    }
    #timeline[data-columns]::before {
        content: '4 .column.size-1of4';
    }
   
}

@media only screen and (min-width: 1100px) {
    
    .btn-search {
        width: 10vw;
    }
    #q_razao_social_cont {
        width: 80vw;
    }    

    #timeline[data-columns]::before {
        content: '5 .column.size-1of5';
    }
    #index-cliente-btn {
        top: 280px;
    }
    #index-clientes {
        top: 60px; 
    }
    
}

