
  <div class="form-inputs">
    
    <%= f.input :valor %>
    <%= f.input :vencimento %>
    <%= f.input :status %>
  </div>

  <div class="actions">
    <%= link_to_remove_association "remove", f %>
  </div>

