<%= search_form_for(@q, url: '/venda-search', :method => :post, remote: true, class: 'form-inline') do |f| %>	  
	  <div id='search-form'>			
		  <%= f.search_field :codigo_cont, placeholder: 'Código' ,class: 'form-control' %>
		  
		  <%= f.submit 'search', class: 'btn btn-default btn-search material-icons' %>
		  
	  </div>
<% end %>